<footer>
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody><tr>
			<td>
			<p align="center"> Charity registration No. 1114419</font></p>
            <p align="center"><a href="http://www.facebook.com/HeshimaTanzania"><img src="/assets/skin/facebook.jpg" alt="Heshima on Facebook" width="147" height="41" border="0"></a></p>
			<p id="footermenu">
            	<a href="/">Home</font></span></a> |
                <a href="/WhatWeDo/History.html"> Heshima History</a> |
                <a href="/Newsletters/"> Newsletter</a> |
    			<a href="/ContactUs/"> Contact Us</a>            </p>
			<p id="footermenu">
				<a href="/Forms/VolunteeringApplicationForm.html">Volunteer application form</a> |
                <a href="/Forms/PartnershipProjectForm.html">Partnership Project Form</a> |
				<a href="/Forms/Giftaiddecleration.html"> Gift Aid Declaration</a>            </p>
		</td>
		</tr>
		<tr>
			<td bgcolor="#4f8a10" height="13">
			<img src="/assets/skin/footer.jpg" border="0" height="24" width="800"></td>
		</tr>

	</tbody></table>
  </footer>
