<head>
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta name="keywords" content="heshima, tanzania, textiles, clothing, handmade, Africa">
    <link type="text/css" href="/assets/css/CoreCSS.css" rel="stylesheet" />
    <link type="text/css" href="/assets/css/menu.css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/menu.js"></script>
    <title>Heshima - Home</title>
</head>
