@charset "UTF-8";
/* Core CSS Document */
body {
    margin: 0;
    padding: 0;
	margin-left:auto;
	margin-right:auto;
/*	background-color: #2c493d;*/
}
/* unvisited link */
a:link { color: #0033FF;}

/* visited link */
a:visited { color: #00CC99;}

/* mouse over link */
a:hover { color: #FF00FF;}

/* selected link */
a:active { color: #0000FF;}

p {
	padding-left: 10px;	
}

#main_body table{
	background-color: white;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	padding: 0;
}
#main_body{
	background-color:#2c493d;
	width: 800px;
	padding:0;
}

#text_body{
	background-color: white;
	width: 550px;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0;
	padding-bottom: 0;
	vertical-align:top;
}
/*Styles for top row*/
#top_row{
	width: 800px;
	margin: 0;
/*	padding-left: 10px;
	padding-right: 10px;*/
	padding-top: 0;
	padding-bottom: 0;
	vertical-align:top;
	z-index:1;	
}
/*Styles for the left navigation */
#left_nav{
	width: 230px;
	padding-right: 10px;
	padding-left: 10px;
	vertical-align:top;
}
/*This is for text in the main body */
#imageCentre{
	text-align:center;
}
bodytext p{
	color:black;
	font-size:13px;
	margin-top: 3px;
}

bodytext li{
	color:black;
	font-size:13px;
}
bodytext h1 {
	margin-top: 0in;
	color: #4f8a10;
	font-size: 20px;
	font-weight:bold;
}
bodytext h2 {
	font-weight:bold;
	font-size:14px;
	margin-bottom: 0px;
	color:#800000;
}
bodytext ul {
	margin-top: 0in;
	margin-bottom: 0in;
	list-style:disc;
}

/*newsletter and annual report page*/
listtext p{
	color:black;
	font-size:13px;
	margin-top: 3px;
}

listtext li{
	color:black;
	font-size:16px;
}
listtext h1 {
	margin-top: 0in;
	color: #4f8a10;
	font-size: 20px;
	font-weight:bold;
}
listtext h2 {
	font-weight:bold;
	font-size:18px;
	margin-bottom: 0px;
	color:#800000;
}
listtext ul {
	margin-top: 0in;
	margin-bottom: 0in;
	list-style:disc;
}
/*Styles for the 3 column */
.three_column{
	width:800px;		
}
.three_column td{
	width:33%;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0;
	padding-bottom: 0;
	vertical-align:top;	
}
/* Styles for all the forms */
formtext p {
	color:green;
	font-size:14px;
}
#formtable{
	width:500px;
	color:orange;
	font-size:14px;
}
formtext li{
	color:black;
	font-size:14px;
}
formtext h1 {
	color:#4f8a10;
	font-size:18px;
}
formtext h2 {
	font-weight:bold;
	font-size:14px;
}
formtext ul {
	margin-top: 0in;
	margin-bottom: 0in;
	list-style:disc;
}

/*All Footer Styles*/
footer td{	
	background-color:#4f8a10;
	margin: 0;
    padding: 0;}
	
footer p{
	font-size:11px;
	color:white;
	font-family:"Arial";
	text-align:center;
}

#footermenu{
	font-size: 11px;
	color: orange;
	text-align:center;
}

#footermenu a:link{
	color: white;
}

#poweredby a:link{
	color: white;

}
